@use './../../styles/variables' as *;

:host {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70px; // Width of the toolbar
  background-color: $surface-color;
  border-left: 1px solid $border-color;
  z-index: 1000; // Ensure it stays on top of other content
}

.action-toolbar-container {
  padding: $spacing-lg 0;
}

.action-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-md;
}

.action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: $border-radius-md;
  border: none;
  background-color: transparent;
  color: $icon-color-inactive;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $background-color;
    color: $primary-color;
  }

  &.active {
    background-color: $primary-color;
    color: white;
  }
}

.action-icon {
  font-size: 1.5rem;
}
